{% extends './layouts/default.twig' %}

{% set title = 'H to the Ipsum' %}
{% set home = 'true' %}
{% set data_page = 'home' %}

{% block body %}
<h1 class="page-title" data-text="H to the Ipsum"><span>H to the Ipsum</span></h1>

<div class="content">
  <p class="intro">Want to be super cool? Use this handy filler text generator to impress all your colleagues and clients.</p>

  <form class="ipsum" method="POST" ng-submit="getIpsum()">
    <fieldset class="ipsum_options">
      <ul class="fields">
        <li>
          <label class="ipsum_lbl" for="opt-length">Amount</label>

          <div class="ipsum_amount">
            <input type="range" min="1" max="5" name="length" ng-model="length" id="opt-length" value="1" ng-value="1" ng-change="getIpsum()" />
            <output name="length_output" for="length">{{ '{{ length }}' }}</output>

            <div class="pills">
              <input type="radio" name="unit" ng-model="unit" id="opt-unit-1" value="paragraph" ng-change="getIpsum()" /><!--
           --><label class="pill" for="opt-unit-1">Paragraph(s)</label><!--
           --><input type="radio" name="unit" ng-model="unit" id="opt-unit-3" value="word" ng-change="getIpsum()" /><!--
           --><label class="pill" for="opt-unit-3">Word(s)</label>
            </div><!-- /.pills -->
          </div><!-- /.ipsum_amount -->
        </li>
        <li>
          <span class="ipsum_lbl">Censoring</span>
          <input type="checkbox" name="clean" ng-model="clean" id="opt-clean" value="1" ng-change="censorIpsum()" />
          <label class="switch" for="opt-clean">Censor Curse Words</label>
        </li>
        <li>
          <span class="ipsum_lbl">Capitalization</span>

          <div class="pills">
            <input type="radio" name="caps" ng-model="caps" id="opt-format-1" value="sentence" /><!--
         --><label class="pill" for="opt-format-1">Normal</label><!--
         --><input type="radio" name="caps" ng-model="caps" id="opt-format-2" value="titlecase" /><!--
         --><label class="pill" for="opt-format-2">Title Case</label><!--
         --><input type="radio" name="caps" ng-model="caps" id="opt-format-3" value="lowercase" /><!--
         --><label class="pill" for="opt-format-3">Lowercase</label><!--
         --><input type="radio" name="caps" ng-model="caps" id="opt-format-4" value="uppercase" /><!--
         --><label class="pill" for="opt-format-4">Uppercase</label>
          </div>
        </li>
      </ul>
    </fieldset>
  </form>

  <section class="result">
    <h2>Result <span class="result_refresh"><button class="btn-link" ng-click="getIpsum()">Refresh</button></span></h2>

    <button class="result_btn" ng-click="copyIpsum($event)">Copy Text</button>

    <div class="result_content">
      <p class="{{ '{{ caps }}' }}" ng-if="unit == 'paragraph'" ng-repeat="paragraph in text track by $index">{{ '{{ paragraph }}' }}</p>

      <p class="{{ '{{ caps }}' }}" ng-if="unit != 'paragraph'"><span ng-repeat="ipsum in text track by $index">{{ '{{ ipsum }}' }} </span></p>
    </div>

    <textarea class="result_copy {{ '{{ caps }}' }}">{{ '{{ plainText }}' }}</textarea>
  </section><!-- /.result -->
</div><!-- /.content -->
{% endblock %}
