<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>

		<!-- Main Styles -->
		<link rel="stylesheet" type="text/css" href="{{ assets }}/css/screen.css" media="screen" />

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" />

		<link href="{{ assets }}/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body id="{{ id }}" data-page="{{ data_page }}" ng-app="HtotheIpsum" ng-controller="ipsumController" ng-init="init()">

		{% include '../partials/header.twig' %}

		<div class="rap">
			{% block body %}
			{% endblock %}
		</div><!-- .rap -->

		{% include '../partials/scripts.twig' %}

	</body>
</html>
